* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*::before,
*::after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
}
.s {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.header,
.footer {
  display: flex;
  width: 100%;
  max-width: 1920px;
  flex-wrap: wrap;
}
.header .container,
.footer .container {
  flex-direction: row;
  justify-content: space-between;
}
.header {
  min-height: 92px;
  border-bottom: 2px solid #232070;
}
.footer {
  min-height: 72px;
}
.s1 {
  min-height: 2919px;
  background-color: #160a57;
  background: url(../imgs/bg-main.png) no-repeat 50% 0%;
}
.s1,
.s3 {
  color: white;
}
.last {
  height: 539px;
  background: url(../imgs/bg-last.png) no-repeat 50% 0%;
}
.logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.logo p {
  color: #fefefe;
  font-family: "Codec Cold Logo";
  font-size: 27px;
  font-style: italic;
  text-transform: uppercase;
}
.nav {
  display: flex;
}
.nav ul {
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
}
.nav ul a {
  display: flex;
  align-items: center;
}
.nav ul a li {
  padding: 0px 23px;
  font-family: Mont;
  font-size: 20px;
  font-weight: 300;
}
.nav ul a:hover {
  border-bottom: 4px solid #00d7ee;
}
.nav ul a:last-child {
  font-family: "Mont - Semi Bold";
  font-size: 20px;
  font-weight: 400;
  width: 195px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.nav ul a:last-child:hover {
  border: none;
}
.nav ul a:last-child:hover::after {
  width: 195px;
  height: 47px;
  border-bottom: 4px solid #00d7ee;
  align-self: flex-end;
}
.nav ul a:last-child li {
  right: 0%;
  border-radius: 24px;
  border: 3px solid #00d7ee;
  padding: 13px 36px;
}
h2 {
  font-family: Mont;
  font-size: 45px;
  font-weight: 700;
}
p {
  font-family: Mont;
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
  padding-top: 23px;
}
.main {
  margin-top: 188px;
}
.main .description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .description .platform {
  max-width: 653px;
  flex-shrink: 1;
}
.main .description .buyform {
  width: 420px;
  height: 329px;
  padding-top: 27px;
  text-align: center;
}
.main .description .buyform h2 {
  font-family: "Mont - Semi Bold";
  font-size: 27px;
  font-weight: 400;
}
.main .description .buyform .endtime {
  display: flex;
  justify-content: space-between;
  padding: 22px 78px 49px;
}
.main .description .buyform .endtime span {
  position: relative;
  color: #fefefe;
  font-family: "IBM Plex Mono";
  font-size: 42px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main .description .buyform .endtime span:nth-child(-n+3)::before {
  right: -15px;
  width: 2px;
  height: 18px;
  background-color: #5e66a9;
  align-self: center;
}
.main .description .buyform .endtime span::after {
  content: attr(class);
  text-transform: uppercase;
  color: #7882e4;
  font-family: "IBM Plex Sans";
  font-size: 15px;
  font-weight: 300;
  bottom: -10px;
  text-align: center;
  transform: translate(0, 100%);
}
.main .description .buyform .amount {
  text-align: left;
  padding: 0 60px;
}
.main .description .buyform .amount p {
  color: #fefefe;
  font-family: "IBM Plex Sans";
  font-size: 15px;
  font-weight: 400;
  padding: 0;
}
.main .description .buyform .amount .inc {
  width: 300px;
  height: 19px;
  box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #222075;
  position: relative;
  margin: 0 auto;
}
.main .description .buyform .amount .inc::before {
  height: 19px;
  width: 100px;
  box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.1), inset 0 0 81px 99px rgba(24, 20, 106, 0.2);
  border-radius: 8px;
  background-image: linear-gradient(45deg, #18146a 0%, #00bbff 100%);
}
.main .description .buyform .amount .inc::after {
  left: 81px;
  width: 19px;
  height: 19px;
  box-shadow: -4px 0 5px 1px rgba(39, 51, 96, 0.34);
  border-radius: 10px;
  background: url(../imgs/urpinus.png) no-repeat 50% 50%, linear-gradient(-225deg, #007aff 0%, #00c0ff 100%);
}
.main .description .buyform button {
  width: 264px;
  height: 47px;
  border-radius: 23px;
  background-image: linear-gradient(11deg, #009cef 0%, #00d7ee 100%);
  color: #fefefe;
  font-family: "Mont - Semi Bold";
  font-size: 23px;
  font-weight: 400;
}
.main .advantages {
  margin-top: 125px;
}
.main .advantages ul {
  display: flex;
  max-width: 850px;
  min-width: 390px;
  flex-wrap: wrap;
}
.main .advantages ul li {
  padding-top: 109px;
  width: 390px;
  flex-shrink: 0;
  position: relative;
}
.main .advantages ul li h3 {
  font-family: "Mont - Semi Bold";
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 10px;
}
.main .advantages ul li p {
  font-family: Mont;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
.main .advantages ul li:nth-child(odd) {
  margin-right: 68px;
}
.main .advantages ul li::before {
  width: 100px;
  height: 57px;
  background-image: url(../imgs/adv-icons.png);
  top: 32px;
}
.main .advantages ul li:nth-child(2)::before {
  background-position: top right;
  width: 57px;
}
.main .advantages ul li:nth-child(3)::before {
  background-position: bottom left;
}
.main .advantages ul li:nth-child(4)::before {
  background-position: bottom right;
  width: 57px;
}
.main .justlook {
  margin-top: 413px;
  width: 555px;
}
.main .justlook .three-random-words {
  background-image: linear-gradient(-225deg, #00d7ee 0%, #009cef 100%);
  background-clip: text;
  color: transparent;
  font-family: "IBM Plex Sans - Medium Italic";
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 210px;
}
.main .youcantsee {
  width: 420px;
  margin-top: 210px;
}
.s2 {
  padding-top: 55px;
}
.s2 h3 {
  font-family: "Mont - Semi Bold";
  font-size: 26px;
  font-weight: 400;
  line-height: 61.39px;
}
.s2 p {
  color: #000000;
  font-family: "Mont - Book";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.s2 .gallery {
  width: 927px;
  height: 709px;
  margin: 28px auto 120px;
  position: relative;
  display: flex;
  align-items: center;
}
.s2 .gallery .slides {
  height: 709px;
  overflow: hidden;
}
.s2 .gallery input {
  display: none;
}
.s2 .gallery .controls {
  position: absolute;
  transform: translate(-100%, -50%);
  left: -9px;
  top: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.s2 .gallery .controls label {
  display: block;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  margin: 20px 9px;
  cursor: pointer;
}
.s2 .gallery .controls label::before {
  display: block;
  border-radius: 50%;
  background-color: #00d7ee;
  background-image: linear-gradient(to top, #009cef 0%, #00d7ee 100%);
  padding: 3px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  box-sizing: content-box;
  cursor: pointer;
}
.s2 .gallery .slide-slides {
  height: 100%;
  transition: 0.5s;
}
.s2 .gallery #btn-1:checked ~ .controls label[for="btn-1"],
.s2 .gallery #btn-2:checked ~ .controls label[for="btn-2"],
.s2 .gallery #btn-3:checked ~ .controls label[for="btn-3"] {
  z-index: -1;
}
.s2 .gallery #btn-1:checked ~ .slides .slide-slides {
  transform: translate(0, 0);
}
.s2 .gallery #btn-2:checked ~ .slides .slide-slides {
  transform: translate(0, -100%);
}
.s2 .gallery #btn-3:checked ~ .slides .slide-slides {
  transform: translate(0, -200%);
}
.s2 .phones {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 104px;
}
.s2 .questions {
  padding-top: 103px;
  width: 490px;
  position: relative;
}
.s2 .questions h2 {
  font-family: Mont;
  font-size: 50px;
  font-weight: 700;
}
.s2 .questions p {
  font-family: "Mont - Book";
  font-size: 27px;
  font-weight: 400;
}
.s2 .questions .pdfs {
  display: flex;
  justify-content: space-between;
  padding: 30px 84px 155px;
}
.s2 .questions .pdfs .pdf {
  width: 126px;
  height: 126px;
  background-color: #009cef;
  border-radius: 50%;
}
.s2 .questions .pdfs .pdf p {
  font-family: Mont;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  margin-top: 100%;
  padding-top: 20px;
  text-align: center;
}
.s2 .questions .pdfs .pdf:nth-child(1) {
  background: url(../imgs/pdf-icons.png) no-repeat 27px center, linear-gradient(to top, #009cef 0%, #00d7ee 100%);
}
.s2 .questions .pdfs .pdf:nth-child(2) {
  background: url(../imgs/pdf-icons.png) no-repeat right center, linear-gradient(to top, #009cef 0%, #00d7ee 100%);
}
.s2 .questions::before {
  width: 757px;
  height: 721px;
  right: -20px;
  top: 0;
  transform: translate(100%);
  background: url(../imgs/hmm.png) no-repeat;
}
.s3 {
  padding-top: 87px;
  height: 1011px;
  background: url(../imgs/bg-s3.png) no-repeat 50% -502px;
}
.s3 .fastesy {
  color: #48b2e3;
  font-family: "Mont - Semi Bold";
  font-size: 24px;
  font-weight: 400;
}
