@font-face {
  font-family: Mont;
  src: url('../fonts/Mont-Regular.ttf') format("truetype");
  src: url('../fonts/Mont-Regular.woff') format("woff");
  font-weight: 400;
}
@font-face {
  font-family: 'Codec Cold Logo';
  src: url('../fonts/CodecColdLogo-Italic.ttf') format("truetype");
  src: url('../fonts/CodecColdLogo-Italic.woff') format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Mont-Book";
  src: url('../fonts/"Mont-Book".ttf') format("truetype");
  src: url('../fonts/Mont-Book.woff') format("woff");
}
@font-face {
  font-family: Mont;
  src: url('../fonts/Mont-Light.ttf') format("truetype");
  src: url('../fonts/Mont-Light.woff') format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Mont-Semi Bold";
  font-weight: 400;
  src: url('../fonts/Mont-SemiBold.ttf') format("truetype");
  src: url('../fonts/Mont-SemiBold.woff') format("woff");
}
@font-face {
  font-family: "Mont-Bold";
  font-weight: 700;
  src: url('../fonts/Mont-Bold.ttf') format("truetype");
  src: url('../fonts/Mont-Bold.woff') format("woff");
}
@font-face {
  font-family: "Mont";
  font-weight: 700;
  src: url('../fonts/Mont-Bold.ttf') format("truetype");
  src: url('../fonts/Mont-Bold.woff') format("woff");
}
@font-face {
  font-family: "Mont-Book";
  src: url('../fonts/Mont-Book.ttf') format("truetype");
  src: url('../fonts/Mont-Book.woff') format("woff");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 300;
  src: url('../fonts/IBMPlexMono-Light.ttf') format("truetype");
  src: url('../fonts/IBMPlexMono-Light.woff') format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 300;
  src: url('../fonts/IBMPlexSans-Light.ttf') format("truetype");
  src: url('../fonts/IBMPlexSans-Light.woff') format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  src: url('../fonts/IBMPlexSans-Medium.ttf') format("truetype");
  src: url('../fonts/IBMPlexSans-Medium.woff') format("woff");
}
@font-face {
  font-family: "IBM Plex Sans - Medium Italic";
  src: url('../fonts/IBMPlexSans-MediumItalic.ttf') format("truetype");
  src: url('../fonts/IBMPlexSans-MediumItalic.woff') format("woff");
}
@font-face {
  font-family: "Mont-Heavy";
  src: url('../fonts/Mont-Heavy.ttf') format("truetype");
  src: url('../fonts/Mont-Heavy.woff') format("woff");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}
body {
  line-height: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*::before,
*::after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
}
h2 {
  font-family: Mont;
  font-size: 45px;
  font-weight: 700;
}
@media only screen and (max-width: 450px) {
  h2 {
    font-size: 20px;
  }
}
p {
  font-family: "Mont-Book";
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 23px;
}
@media only screen and (max-width: 450px) {
  p {
    font-size: 13px;
    font-weight: 300;
    line-height: 19px;
    margin: 10px 0;
  }
}
.mobile {
  display: none;
}
.s {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  padding: 0 390px;
  transition: 0.3s;
  margin: 0 auto;
}
@media only screen and (max-width: 1660px) {
  .container {
    padding: 0 150px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }
  .s4 .commission-level tbody tr td,
  .s4 .commission-level thead tr th {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media only screen and (max-width: 450px) {
  .container {
    padding: 0 15px;
  }
  .container .mobile {
    display: block;
  }
}
.header,
.footer {
  display: flex;
  width: 100%;
  max-width: 1920px;
}
.header .container,
.footer .container {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header {
  min-height: 92px;
  border-bottom: 2px solid #232070;
}
@media only screen and (max-width: 450px) {
  .header {
    min-height: 55px;
    align-items: flex-end;
    border: none;
  }
  .header .nav {
    width: 23px;
    height: 23px;
    background-image: url(../imgs/nav-m.png);
  }
}
.footer {
  min-height: 72px;
  margin: 0 auto;
  background-color: #fbfbff;
}
@media only screen and (max-width: 450px) {
  .footer .container {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
.footer .copyright {
  margin: 15px 0 25px;
}
.footer .nav-m {
  display: flex;
}
.footer .nav-m ul:first-child {
  margin-right: 45px;
}
.footer .nav-m ul {
  display: flex;
  flex-direction: column;
}
.footer .nav-m ul a:not(:first-of-type) li {
  color: #626262;
  font-family: Mont;
  font-size: 11px;
  font-weight: 300;
  margin-bottom: 10px;
}
.footer .nav-m ul a:first-of-type li {
  font-family: Mont;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
}
.s1 {
  min-height: 2680px;
  background-image: url(../imgs/spot.png), url(../imgs/bg-main.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 100%, center;
  background-size: auto, cover;
  max-width: 1920px;
}
@media only screen and (max-width: 450px) {
  .s1 {
    min-height: auto;
    padding-bottom: 20px;
  }
}
.s1,
.s3,
.header {
  color: white;
}
.logo {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 450px) {
  .logo img {
    width: 20px;
    height: 20px;
  }
}
.logo p {
  font-family: 'Codec Cold Logo';
  font-size: 27px;
  font-style: italic;
  text-transform: uppercase;
  margin: 0 12px 0;
}
@media only screen and (max-width: 450px) {
  .logo p {
    font-size: 17px;
  }
}
.nav {
  display: flex;
}
.nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media only screen and (max-width: 450px) {
  .nav ul {
    display: none;
  }
}
.nav ul a {
  display: flex;
  align-items: center;
}
.nav ul a li {
  margin: 0px 23px;
  font-family: Mont;
  font-size: 20px;
  font-weight: 300;
}
.nav ul a:hover {
  border-bottom: 4px solid #00d7ee;
}
.nav ul a:last-child {
  font-family: "Mont-Semi Bold";
  font-size: 20px;
  font-weight: 400;
  width: 195px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.nav ul a:last-child:hover {
  border: none;
}
.nav ul a:last-child:hover::after {
  width: 195px;
  height: 47px;
  border-bottom: 4px solid #00d7ee;
  align-self: flex-end;
}
.nav ul a:last-child li {
  right: 0%;
  border-radius: 24px;
  border: 3px solid #00d7ee;
  padding: 13px 36px;
}
.main .description {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
@media only screen and (max-width: 450px) {
  .main .description {
    margin-top: 40px;
  }
}
.main .description .platform {
  margin-top: 188px;
  margin-right: 70px;
  flex-basis: 10px;
  flex-grow: 1;
}
@media only screen and (max-width: 450px) {
  .main .description .platform {
    margin-top: 0px;
    margin-right: 0;
  }
}
.main .description .platform p {
  font-family: Mont;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
}
@media only screen and (max-width: 450px) {
  .main .description .platform p {
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
  }
}
.main .description .platform .socials {
  margin-top: 36px;
  display: flex;
}
@media only screen and (max-width: 450px) {
  .main .description .platform .socials {
    display: none;
  }
}
.main .description .platform .socials a li {
  margin-right: 20px;
  width: 38px;
  height: 38px;
  font-size: 0;
  background-image: url("../imgs/soc.png");
  background-repeat: no-repeat;
}
.main .description .platform .socials a .telegram {
  background-position: -58px center;
}
.main .description .platform .socials a .facebook {
  background-position: -116px center;
}
.main .description .platform .socials a .bitcointalk {
  background-position: -173px center;
}
.main .description .buyform {
  margin-top: 188px;
  background-color: rgba(14, 0, 79, 0.5);
  width: 420px;
  height: 329px;
  padding-top: 27px;
  text-align: center;
}
@media only screen and (max-width: 450px) {
  .main .description .buyform {
    margin-top: 5px;
    font-size: 10px;
    height: auto;
    padding-bottom: 15px;
    padding-top: 15px;
  }
}
.main .description .buyform h2 {
  font-family: "Mont-Semi Bold";
  font-size: 27px;
  font-weight: 400;
}
@media only screen and (max-width: 450px) {
  .main .description .buyform h2 {
    display: none;
  }
}
.main .description .buyform .endtime {
  display: flex;
  justify-content: space-between;
  padding: 22px 78px 49px;
}
@media only screen and (max-width: 450px) {
  .main .description .buyform .endtime {
    display: none;
  }
}
.main .description .buyform .endtime span {
  position: relative;
  color: #fefefe;
  font-family: "IBM Plex Mono";
  font-size: 42px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main .description .buyform .endtime span:nth-child(-n+3)::before {
  right: -15px;
  width: 2px;
  height: 18px;
  background-color: #5e66a9;
  align-self: center;
}
.main .description .buyform .endtime span::after {
  content: attr(class);
  text-transform: uppercase;
  color: #7882e4;
  font-family: "IBM Plex Sans";
  font-size: 15px;
  font-weight: 300;
  bottom: -10px;
  text-align: center;
  transform: translate(0, 100%);
}
.main .description .buyform .amount {
  text-align: left;
  padding: 0 60px;
}
@media only screen and (max-width: 450px) {
}
.main .description .buyform .amount p {
  font-family: "IBM Plex Sans";
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}
.main .description .buyform .amount .inc {
  width: 300px;
  height: 19px;
  box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #222075;
  position: relative;
  margin: 0 auto;
}
.main .description .buyform .amount .inc::before {
  height: 19px;
  width: 100px;
  box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.1), inset 0 0 81px 99px rgba(24, 20, 106, 0.2);
  border-radius: 8px;
  background-image: linear-gradient(45deg, #18146a 0%, #00bbff 100%);
}
.main .description .buyform .amount .inc::after {
  left: 81px;
  width: 19px;
  height: 19px;
  box-shadow: -4px 0 5px 1px rgba(39, 51, 96, 0.34);
  border-radius: 10px;
  background: url(../imgs/urpinus.png) no-repeat 50% 50%, linear-gradient(-225deg, #007aff 0%, #00c0ff 100%);
}
.main .description .buyform .buynow {
  width: 264px;
  height: 47px;
  border-radius: 23px;
  background-image: linear-gradient(11deg, #009cef 0%, #00d7ee 100%);
  font-family: "Mont-Semi Bold";
  font-size: 23px;
  font-weight: 400;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
  color: white;
  cursor: pointer;
}
@media only screen and (max-width: 450px) {
  .main .description .buyform .buynow {
    border-radius: 5px;
  }
}
.main .description .buyform .buynow:hover {
  box-shadow: 0 0 3px 1px #00d7ee;
}
.main .description .buyform .buynow:active {
  box-shadow: inset 0 0 3px white;
}
.main .advantages {
  margin-top: 133px;
  position: relative;
  margin-bottom: 105px;
}
@media only screen and (max-width: 450px) {
  .main .advantages {
    margin-top: 55px;
    margin-bottom: 60px;
  }
}
.main .advantages ul {
  display: flex;
  max-width: 850px;
  flex-wrap: wrap;
}
.main .advantages ul li {
  padding-top: 109px;
  flex-basis: 390px;
  position: relative;
}
.main .advantages ul li h3 {
  font-family: "Mont-Semi Bold";
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 10px;
}
@media only screen and (max-width: 450px) {
  .main .advantages ul li h3 {
    font-size: 16px;
  }
}
.main .advantages ul li p {
  font-family: Mont;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
@media only screen and (max-width: 450px) {
  .main .advantages ul li p {
    font-size: 13px;
  }
}
.main .advantages ul li:nth-child(odd) {
  margin-right: 68px;
}
.main .advantages ul li::before {
  width: 100px;
  height: 57px;
  background-image: url(../imgs/adv-icons.png);
  top: 32px;
}
.main .advantages ul li:nth-child(2)::before {
  background-position: top right;
  width: 57px;
}
.main .advantages ul li:nth-child(3)::before {
  background-position: bottom left;
}
.main .advantages ul li:nth-child(4)::before {
  background-position: bottom right;
  width: 57px;
}
.main .advantages::after {
  background: url(../imgs/advantages.png) no-repeat;
  width: 671px;
  height: 624px;
  left: 650px;
  top: 0;
}
.main .justlook {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 450px) {
  .main .justlook {
    flex-direction: column;
  }
}
.main .justlook .left {
  background: url(../imgs/justlook.png) no-repeat;
  width: 602px;
  height: 609px;
  margin-bottom: 50px;
  margin-right: 55px;
}
@media only screen and (max-width: 450px) {
  .main .justlook .left {
    width: 256px;
    height: 258px;
    background-size: contain;
    margin-right: 0;
    align-self: center;
    margin-bottom: 15px;
  }
}
.main .justlook .right {
  margin-top: 115px;
  flex-basis: 200px;
  flex-grow: 1;
  margin-bottom: 100px;
}
@media only screen and (max-width: 450px) {
  .main .justlook .right {
    margin-top: auto;
    order: -1;
    margin-bottom: 10px;
    flex-basis: 0;
  }
}
.main .justlook .right .three-random-words {
  line-height: 20px;
  height: 30px;
  color: #00d7ee;
  background-image: linear-gradient(-225deg, #00d7ee 0%, #009cef 100%), -webkit-linear-gradient(-225deg, #00d7ee 0%, #009cef 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "IBM Plex Sans - Medium Italic";
  font-size: 30px;
  font-weight: 400;
}
.main .cantsee {
  position: relative;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 450px) {
  .main .cantsee {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.main .cantsee .h2 {
  line-height: 60px;
}
.main .cantsee .youcantsee {
  margin-right: -80px;
  width: 450px;
  flex-shrink: 0;
}
@media only screen and (max-width: 450px) {
  .main .cantsee .youcantsee {
    margin: 0 auto;
    width: auto;
    text-align: center;
  }
}
.main .cantsee .scheme {
  position: relative;
  background-image: url(../imgs/scheme.png);
  background-repeat: no-repeat;
  width: 787px;
  height: 789px;
  top: -90px;
  flex-shrink: 0;
}
@media only screen and (max-width: 450px) {
  .main .cantsee .scheme {
    top: 0;
    background: url(../imgs/scheme-m.png) no-repeat;
    width: 291px;
    height: 368px;
  }
}
.s2 {
  padding-top: 55px;
}
@media only screen and (max-width: 450px) {
  .s2 {
    background-color: #f6f5ff;
  }
}
.s2 h2 {
  max-width: 550px;
}
.s2 h3 {
  font-family: "Mont-Semi Bold";
  font-size: 26px;
  font-weight: 400;
  margin-top: 34px;
}
@media only screen and (max-width: 450px) {
  .s2 h3 {
    font-size: 13px;
    letter-spacing: 0.05px;
    margin-top: 10px;
  }
}
.s2 p {
  font-family: "Mont-Book";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 15px;
}
@media only screen and (max-width: 450px) {
  .s2 p {
    font-size: 13px;
    margin: 10px 0 5px;
    line-height: 16px;
  }
}
.s2 .gallery1 {
  margin: 28px auto 45px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
}
@media only screen and (max-width: 450px) {
  .s2 .gallery1 {
    margin: 0;
    margin-bottom: 20px;
    background-color: #f6f5ff;
  }
}
.s2 .gallery1 .slides {
  margin: auto;
  width: 1920px;
  overflow: hidden;
}
@media only screen and (max-width: 450px) {
  .s2 .gallery1 .slides {
    width: 320px;
  }
}
.s2 .gallery1 input {
  display: none;
}
.s2 .gallery1 .controls {
  align-self: flex-end;
  margin-right: 65px;
  margin-top: 53px;
  display: flex;
}
.s2 .gallery1 .controls div {
  width: 50px;
  height: 50px;
  border: 1px solid #5ec4fe;
  border-radius: 50%;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.s2 .gallery1 .controls div::before {
  border: 15px solid #5ec4fe;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-left: none;
  transform: translate(-2px);
}
.s2 .gallery1 .controls div:hover {
  box-shadow: 0 0 6px 1px #009cef;
}
.s2 .gallery1 .controls div:active {
  box-shadow: 0 0 6px 1px #009cef, inset 0 0 2px 0px white;
}
.s2 .gallery1 .controls div:nth-child(2)::before {
  transform: rotate(180deg) translate(-2px);
}
.s2 .gallery1 .slide {
  height: 100%;
  transition: 0.5s;
  display: flex;
  width: 952px;
  margin: auto;
}
@media only screen and (max-width: 450px) {
  .s2 .gallery1 .slide {
    width: 219px;
  }
}
.s2 .gallery1 .slide img {
  box-sizing: content-box;
  padding: 0 70px;
}
@media only screen and (max-width: 450px) {
  .s2 .gallery1 .slide img {
    width: 193px;
    height: 160px;
    padding: 0 13px;
  }
}
.s2 .gallery1 #btn-1:checked ~ .controls label[for="btn-1"],
.s2 .gallery1 #btn-2:checked ~ .controls label[for="btn-2"],
.s2 .gallery1 #btn-3:checked ~ .controls label[for="btn-3"] {
  z-index: -1;
}
.s2 .gallery1 #btn-1:checked ~ .slides .slide {
  transform: translate(0, 0);
}
.s2 .gallery1 #btn-2:checked ~ .slides .slide {
  transform: translate(-100%, 0);
}
.s2 .gallery1 #btn-3:checked ~ .slides .slide {
  transform: translate(-200%, 0);
}
.s2 .phones {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 104px;
}
@media only screen and (max-width: 450px) {
  .s2 .phones {
    margin: 0;
    margin-bottom: 15px;
    display: none;
  }
}
.s2 .phones .phone {
  margin-bottom: 50px;
  margin-right: 25px;
  margin-left: 25px;
}
.s2 .questions {
  padding-top: 103px;
  width: 490px;
  position: relative;
}
@media only screen and (max-width: 450px) {
  .s2 .questions {
    background-color: white;
    box-sizing: content-box;
    padding: 0 15px;
    width: 100%;
    transform: translate(-15px, 0);
    text-align: center;
    padding-top: 15px;
  }
}
.s2 .questions h2 {
  font-family: Mont;
  font-size: 50px;
  font-weight: 700;
}
@media only screen and (max-width: 450px) {
  .s2 .questions h2 {
    font-size: 20px;
  }
}
.s2 .questions p {
  font-family: "Mont-Book";
  font-size: 27px;
  font-weight: 400;
}
@media only screen and (max-width: 450px) {
  .s2 .questions p {
    font-size: 13px;
  }
}
.s2 .questions .pdfs {
  display: flex;
  justify-content: space-between;
  padding: 0px 84px 110px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 450px) {
  .s2 .questions .pdfs {
    padding: 0;
    justify-content: center;
  }
}
.s2 .questions .pdfs .pdf {
  margin-top: 30px;
  margin-bottom: 45px;
  display: flex;
  width: 126px;
  height: 126px;
  background-color: #009cef;
  border-radius: 50%;
  justify-content: center;
}
@media only screen and (max-width: 450px) {
  .s2 .questions .pdfs .pdf {
    width: 69px;
    height: 69px;
    margin-top: 15px;
    margin-bottom: 60px;
  }
}
.s2 .questions .pdfs .pdf p {
  font-family: Mont;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  margin-top: 100%;
  padding-top: 20px;
}
@media only screen and (max-width: 450px) {
  .s2 .questions .pdfs .pdf p {
    font-size: 15px;
  }
}
.s2 .questions .pdfs .pdf:nth-child(1) {
  background: url(../imgs/pdf1.png) no-repeat center, linear-gradient(to top, #009cef 0%, #00d7ee 100%);
}
@media only screen and (max-width: 450px) {
  .s2 .questions .pdfs .pdf:nth-child(1) {
    background-size: 30px 39px, cover;
    margin-right: 30px;
  }
}
.s2 .questions .pdfs .pdf:nth-child(2) {
  background: url(../imgs/pdf2.png) no-repeat center, linear-gradient(to top, #009cef 0%, #00d7ee 100%);
}
@media only screen and (max-width: 450px) {
  .s2 .questions .pdfs .pdf:nth-child(2) {
    background-size: 22px 31px, cover;
    margin-left: 30px;
  }
}
.s2 .questions::before {
  width: 757px;
  height: 721px;
  right: -20px;
  top: 0;
  transform: translate(100%);
  background: url(../imgs/hmm.png) no-repeat;
}
.s3 {
  background-image: url(../imgs/bg-s3.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  min-height: 1010px;
  background-size: auto 100%;
}
@media only screen and (max-width: 450px) {
  .s3 {
    background: white;
    color: black;
    min-height: auto;
  }
  .s3 .wrapper {
    display: none;
  }
}
.s3 .roadmap {
  margin-top: 50px;
}
.s3 .container {
  flex-direction: column;
  flex-wrap: wrap;
}
@media only screen and (max-width: 450px) {
  .s3 .container {
    margin-top: 35px;
  }
}
.s3 .fastesy {
  margin-top: 87px;
  text-align: center;
  color: #48b2e3;
  font-family: "Mont-Semi Bold";
  font-size: 24px;
  font-weight: 400;
}
.s3 .fastesy + h2 {
  margin-bottom: 116px;
  text-align: center;
}
.s3 .gallery2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
  width: 100%;
}
@media only screen and (max-width: 450px) {
  .s3 .gallery2 {
    display: none;
  }
}
.s3 .gallery2 .schedules {
  height: 228px;
  width: 1140px;
  overflow: hidden;
}
.s3 .gallery2 .schedules .schedule {
  transition: 1s ease;
  display: flex;
}
.s3 .gallery2 .schedules .schedule.current1 {
  transform: translate(0);
}
.s3 .gallery2 .schedules .schedule.current2 {
  transform: translate(-100%);
}
.s3 .gallery2 .schedules .schedule.current3 {
  transform: translate(-200%);
}
.s3 .gallery2 .controls {
  align-self: flex-end;
  margin-right: 65px;
  margin-top: 53px;
  display: flex;
}
.s3 .gallery2 .controls div {
  width: 50px;
  height: 50px;
  border: 1px solid #5ec4fe;
  border-radius: 50%;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.s3 .gallery2 .controls div::before {
  border: 15px solid #5ec4fe;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-left: none;
  transform: translate(-2px);
}
.s3 .gallery2 .controls div:hover {
  box-shadow: 0 0 6px 1px #009cef;
}
.s3 .gallery2 .controls div:active {
  box-shadow: 0 0 6px 1px #009cef, inset 0 0 2px 0px white;
}
.s3 .gallery2 .controls div:nth-child(2)::before {
  transform: rotate(180deg) translate(-2px);
}
.s3 .service {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
@media only screen and (max-width: 450px) {
  .s3 .service {
    order: -1;
  }
}
.s3 .service h2 {
  align-self: flex-start;
}
.s3 .service h3 {
  font-family: "Mont-Semi Bold";
  font-size: 30px;
  font-weight: 400;
  margin-top: 37px;
  padding-bottom: 9px;
  border-bottom: 4px solid #009cef;
}
@media only screen and (max-width: 450px) {
  .s3 .service h3 {
    font-size: 14px;
    margin-top: 15px;
  }
}
.s3 .service .buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  flex-wrap: wrap;
  width: 100%;
}
.s3 .service .buttons div {
  width: 291px;
  height: 77px;
  background-color: rgba(22, 10, 87, 0.2);
  color: #ffffff;
  font-family: "Mont-Semi Bold";
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 15px;
}
@media only screen and (max-width: 450px) {
  .s3 .service .buttons div {
    font-size: 9px;
    width: 85px;
    height: 22px;
    border-radius: 3px;
    background-color: #160a57;
    margin-bottom: 0;
  }
}
.s4 {
  padding-bottom: 50px;
  padding-top: 50px;
}
.s4 h2 {
  text-align: center;
}
@media only screen and (max-width: 450px) {
  .s4 h2 {
    text-align: left;
  }
}
.s4 h2 + p {
  text-align: center;
}
@media only screen and (max-width: 450px) {
  .s4 h2 + p {
    text-align: left;
    max-width: 200px;
  }
}
.s4 .container {
  justify-content: center;
}
.s4 .commission-level {
  margin-top: 42px;
  margin-bottom: 60px;
  max-width: 941px;
}
@media only screen and (max-width: 450px) {
  .s4 .commission-level {
    margin-bottom: 30px;
  }
}
.s4 .commission-level th {
  text-align: left;
  padding-left: 64px;
  padding-right: 64px;
  font-family: "Mont-Semi Bold";
  font-size: 24px;
  font-weight: 400;
}
@media only screen and (max-width: 450px) {
  .s4 .commission-level th {
    font-size: 14px;
  }
}
@media only screen and (max-width: 450px) {
  .s4 .commission-level tbody tr {
    font-size: 14px;
    box-shadow: none;
    height: 38px;
  }
  .s4 .commission-level tbody tr:nth-child(even) {
    background-color: #f6f5ff;
  }
}
.s4 .commission-level tbody tr {
  box-shadow: 0 5px 13px rgba(40, 126, 255, 0.08);
  height: 82px;
}
@media only screen and (max-width: 450px) {
  .s4 .commission-level tbody tr {
    font-size: 14px;
    box-shadow: none;
    height: 38px;
  }
}
.s4 .commission-level tbody tr td {
  padding-left: 64px;
  width: 33%;
  font-family: Mont;
  font-size: 24px;
  font-weight: 300;
}
@media only screen and (max-width: 450px) {
  .s4 .commission-level tbody tr td {
    font-size: 14px;
  }
}
.s4 .commission-level tbody tr:first-of-type {
  border-radius: 0 75px 0 0;
}
.s4 .commission-level tbody tr:last-of-type {
  border-radius: 0 0 0 75px;
}
.s4 .tokens {
  margin-top: 35px;
  margin-bottom: 14px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
@media only screen and (max-width: 450px) {
  .s4 .tokens {
    margin-top: 25px;
    align-content: flex-start;
    align-items: flex-start;
  }
  .s4 .tokens .token img:first-child {
    min-width: 120px;
    max-width: 120px;
    height: 157px;
  }
  .s4 .tokens .token img:last-child {
    min-width: 120px;
    max-width: 120px;
    height: 181px;
  }
}
.s4 .tokens .token {
  display: flex;
  align-items: flex-end;
  flex-basis: 450px;
  max-width: 550px;
  flex-grow: 1;
}
@media only screen and (max-width: 450px) {
  .s4 .tokens .token {
    margin-bottom: 25px;
    align-items: flex-start;
  }
}
.s4 .tokens .token ul {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 450px) {
  .s4 .tokens .token ul {
    padding-top: 0px;
    margin-top: 0;
  }
}
.s4 .tokens .token ul li {
  font-family: Mont;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 28px 23px;
}
@media only screen and (max-width: 450px) {
  .s4 .tokens .token ul li {
    font-size: 11px;
    margin: 0 0 7px 10px;
  }
}
.s4 .tokens .token ul li:last-child {
  font-family: "Mont-Semi Bold";
  font-size: 24px;
  font-weight: 400;
  color: #48b2e3;
  text-transform: uppercase;
}
@media only screen and (max-width: 450px) {
  .s4 .tokens .token ul li:last-child {
    font-size: 14px;
    order: -1;
    margin-bottom: 20px;
  }
}
.s4 .deps {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.s4 .deps .deps1 {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  width: 600px;
}
@media only screen and (max-width: 450px) {
  .s4 .deps .deps1 .dep:last-child {
    font-size: 21px;
    margin-left: 75px;
  }
}
@media only screen and (max-width: 315px) {
  .s4 .deps .deps1 .dep:last-child {
    margin-left: 40px;
  }
}
.s4 .deps .deps1 .dep {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-left: 80px;
  margin-top: 106px;
  font-family: "Mont-Heavy";
  font-size: 64px;
  font-weight: 400;
}
@media only screen and (max-width: 450px) {
  .s4 .deps .deps1 .dep {
    font-size: 21px;
    margin-left: 30px;
    margin-top: 50px;
  }
}
.s4 .deps .deps1 .dep .dep1 {
  font-size: 102px;
}
@media only screen and (max-width: 450px) {
  .s4 .deps .deps1 .dep .dep1 {
    font-size: 43px;
  }
}
.s4 .deps .deps1 .dep .dep2 {
  color: #d8e9ff;
  font-size: 117px;
  position: absolute;
  z-index: -1;
  top: -45px;
  left: -75px;
}
@media only screen and (max-width: 450px) {
  .s4 .deps .deps1 .dep .dep2 {
    font-size: 49px;
    left: -30px;
    top: -20px;
  }
}
.s4 .deps .deps1:nth-child(even) {
  margin-right: -30px;
  margin-left: auto;
  width: 500px;
}
.last {
  justify-content: center;
  height: 421px;
  background-image: url(../imgs/last-pattern.png), linear-gradient(20deg, #0b1362 0%, #2433b8 100%);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  align-self: center;
  max-width: 1920px;
}
.last .back {
  margin-top: auto;
  margin-bottom: auto;
  width: 913px;
  height: 182px;
  box-shadow: 0 5px 13px rgba(40, 126, 255, 0.46);
  border-radius: 20px;
  background: white;
  display: flex;
  position: relative;
}
.last .buy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 860px;
  height: 240px;
  padding: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: url(../imgs/form.png) no-repeat 50% 50%;
}
.last .buy p {
  margin-top: 9px;
}
.last .buy form {
  margin-top: 30px;
  display: flex;
}
.last .buy form [type="email"] {
  width: 350px;
  height: 47px;
  border-radius: 23px 0 0 23px;
  border: 1px solid #e8e8e8;
  padding-left: 30px;
  color: #a2a2a2;
}
.last .buy form [type="button"] {
  width: 264px;
  height: 47px;
  border-radius: 0 23px 23px 0;
  background-image: linear-gradient(11deg, #009cef 0%, #00d7ee 100%);
  font-family: "Mont-Semi Bold";
  font-size: 23px;
  font-weight: 400;
  color: white;
  cursor: pointer;
}
.last .buy form [type="button"]:hover {
  box-shadow: 0 0 3px 1px #00d7ee;
}
.last .buy form [type="button"]:active {
  box-shadow: inset 0 0 3px 1px white;
}
.last .back.popup {
  width: 913px;
  height: 226px;
}
.last .popup.back {
  position: fixed;
  z-index: 10;
  top: 50%;
  transform: translate(0, -50%);
  display: none;
}
@media only screen and (max-width: 450px) {
  .last .popup.back {
    width: 290px;
    height: 267px;
    box-shadow: 1px 4px 35px rgba(0, 0, 0, 0.67);
    border-radius: 10px;
    background: #ffffff;
  }
}
.last .popup.back .buy {
  background: url(../imgs/form2.png) no-repeat 50% 50%;
  width: 878px;
  height: 326px;
  text-align: center;
  vertical-align: middle;
  padding: 40px 100px;
}
.last .popup.back .buy h2 {
  font-family: Mont;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 15px;
}
.last .popup.back .buy .key {
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.08);
  background-color: rgba(13, 98, 224, 0.03);
  font-family: "Myriad Pro";
  font-size: 26px;
  font-weight: 400;
  width: 854px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.last .popup.back .buy .exchange {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.last .popup.back .buy .exchange .rate {
  font-family: "Myriad Pro";
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.last .popup.back .buy .exchange .min {
  color: #7d7d7d;
  font-family: "Myriad Pro";
  font-size: 20px;
  font-weight: 400;
}
.last .popup.back .buy form [type="button"] {
  width: 264px;
  height: 47px;
  border-radius: 0 10px 10px 0;
}
.last .popup.back .buy form [type="email"] {
  border-radius: 10px 0 0 10px;
}
@media only screen and (max-width: 450px) {
  .last .popup.back .buy {
    width: 100%;
    height: 100%;
    color: black;
    padding: 23px;
  }
  .last .popup.back .buy h2 {
    font-family: Mont;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
  .last .popup.back .buy .key {
    width: 290px;
    height: 14px;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    transform: translate(-23px, 0);
  }
  .last .popup.back .buy .exchange {
    flex-direction: column;
    align-items: flex-start;
  }
  .last .popup.back .buy .exchange .rate {
    font-family: "Myriad Pro";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .last .popup.back .buy .exchange .minimum {
    color: #7d7d7d;
    font-family: "Myriad Pro";
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
  }
  .last .popup.back .buy form [type="button"] {
    width: 251px;
    height: 34px;
    border-radius: 5px;
    background-image: linear-gradient(11deg, #009cef 0%, #00d7ee 100%);
  }
  .last .popup.back .buy form [type="email"] {
    width: 250px;
    height: 33px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }
}
@media only screen and (max-width: 450px) {
  .last {
    height: 195px;
    color: white;
  }
  .last .back {
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
  .last .back .buy {
    background: linear-gradient(to top, #0b1362 0%, #2433b8 100%);
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 20px 15px 35px;
    align-items: flex-start;
  }
  .last .back .buy p {
    font-family: Mont;
    line-height: 16px;
    max-width: 150px;
  }
  .last .back .buy form {
    width: 100%;
    flex-direction: column;
    margin-top: 5px;
  }
  .last .back .buy form input {
    width: 100%;
    height: 30px;
    border-radius: 7px 2px 2px 7px;
    margin-bottom: 10px;
  }
  .last .back .buy form [type="button"] {
    font-size: 14px;
  }
  .last .back .buy form [type="email"] {
    font-size: 11px;
  }
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
img {
  display: block;
}
