// out: ../css/main.css, compress: false
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	box-sizing: border-box;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	color:inherit;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*::before,
*::after {
	content: '';
	display: block;
	position: absolute;
	box-sizing: border-box;
}

.s {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container {
	width: 1140px;
	//width: 1920px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	//padding: 0px 390px;
	//margin: 0px 390px;
	flex-direction: column;
}

.header,
.footer {
		display: flex;
		width: 100%;
		max-width: 1920px;
			.container {
				flex-direction: row;
				justify-content: space-between;
	}
}
.header {
	min-height: 92px;
	//margin: 0 auto;
	border-bottom: 2px solid #232070;
}

.footer {
	min-height: 72px;
}

.s1 {
  min-height: 2919px;
  background-color: #160a57;
  background: url(../imgs/bg-main.png) no-repeat 50% 0%;
}


.s1,
.s3,
.header {
	color: white;
}

.last {
	height: 539px;
	background: url(../imgs/bg-last.png) no-repeat 50% 0%;
}
.logo {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	p {
		font-family: "Codec Cold Logo";
		font-size: 27px;
		font-style: italic;
		text-transform: uppercase;
		margin: 0 12px 0;
	}
}

.nav {
	display: flex;
	ul {
		display: flex;
		margin-left: auto;
		flex-wrap: wrap;
		a {
			display: flex;
			align-items: center;
			li {
				padding: 0px 23px;
				font-family: Mont;
				font-size: 20px;
				font-weight: 300;
			}
		}
		a:hover {
			border-bottom: 4px solid #00d7ee;
		}
		a:last-child {
			font-family: "Mont - Semi Bold";
			font-size: 20px;
			font-weight: 400;
			width: 195px;
			position: relative;
			justify-content: center;
			align-items: center;
		}
		a:last-child:hover {
			border:none;
		}
		a:last-child:hover::after {
			width: 195px;
			height: 47px;
			border-bottom: 4px solid #00d7ee;
			align-self: flex-end;
		}
		a:last-child li {
			right: 0%;
			border-radius: 24px;
			border: 3px solid #00d7ee;
			padding: 13px 36px;

		}
	}
}

h2 {
	font-family: Mont;
	font-size: 45px;
	font-weight: 700;
}
p {
	font-family: "Mont - Book";
	font-size: 24px;
	font-weight: 400;
	line-height: 26px;
	margin-top: 23px;
}

.main {
	margin-top: 188px;
	.description {
		display: flex;
		//width: 100%;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: 100%;
		div {
			flex-shrink: 0;
		}
		.platform {
			max-width: 653px;
			//min-width: 330px;
			flex-shrink: 1;
		}
		.buyform {
			//margin-left: auto;
			width: 420px;
			height: 329px;
			padding-top: 27px;
			text-align: center;
			h2 {
				font-family: "Mont - Semi Bold";
				font-size: 27px;
				font-weight: 400;
			}
			.endtime {
				display: flex;
				justify-content: space-between;
				padding: 22px 78px 49px;
				span {
					position: relative;
					color: #fefefe;
					font-family: "IBM Plex Mono";
					font-size: 42px;
					font-weight: 300;
					display: flex;
					justify-content: center;
					align-items: flex-end;
				}
				span:nth-child(-n+3)::before {
					right: -15px;
					width: 2px;
					height: 18px;
					background-color: #5e66a9;
					align-self: center;
				}
				span::after {
					content: attr(class);
					text-transform: uppercase;
					color: #7882e4;
					font-family: "IBM Plex Sans";
					font-size: 15px;
					font-weight: 300;
					bottom: -10px;
					text-align: center;
					transform: translate(0, 100%);
				}
			}
			.amount {
				text-align: left;
				padding: 0 60px;
				p {
					//color: #fefefe;
					font-family: "IBM Plex Sans";
					font-size: 15px;
					font-weight: 400;
					margin: 0;
				}
				.inc {
					width: 300px;
					height: 19px;
					box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.1);
					border-radius: 8px;
					background-color: #222075;
					position: relative;
					margin: 0 auto;

				}
				.inc::before {
				   height: 19px;
				   width: 100px;
				   box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.1), inset 0 0 81px 99px rgba(24, 20, 106, 0.2);
				   border-radius: 8px;
				   background-image: linear-gradient(45deg, #18146a 0%, #00bbff 100%);
			   }
			   .inc::after {
				   left: 81px;
				   width: 19px;
				   height: 19px;
				   box-shadow: -4px 0 5px 1px rgba(39, 51, 96, 0.34);
				   border-radius: 10px;
				   background: url(../imgs/urpinus.png) no-repeat 50% 50%,
				   linear-gradient(-225deg, #007aff 0%, #00c0ff 100%);
			   }
			}
			.buynow {
				width: 264px;
				height: 47px;
				border-radius: 23px;
				background-image: linear-gradient(11deg, #009cef 0%, #00d7ee 100%);
				font-family: "Mont - Semi Bold";
				font-size: 23px;
				font-weight: 400;
				margin: auto auto;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 28px;
				color: white;
				cursor: pointer;
			}
			.buynow:hover {
				box-shadow: 0 0 3px 1px #00d7ee;
			}
			.buynow:active {
				box-shadow: inset 0 0 3px white;
			}
		}
	}
	.advantages {
		margin-top: 125px;
		ul {
			display: flex;
			max-width: 850px;
			min-width: 390px;
			flex-wrap: wrap;
			li {
				padding-top: 109px;
				width: 390px;
				position: relative;

				h3 {
					font-family: "Mont - Semi Bold";
					font-size: 19px;
					font-weight: 400;
					margin-bottom: 10px;
				}
				p {
					font-family: Mont;
					font-size: 16px;
					font-weight: 300;
					line-height: 19px;
				}
			}
			li:nth-child(odd) {
				margin-right: 68px;
			}
			li::before {
				width: 100px;
				height: 57px;
				background-image: url(../imgs/adv-icons.png);
				top: 32px;
			}
			li:nth-child(2)::before {
				background-position: top right;
				width: 57px;
			}
			li:nth-child(3)::before {
				background-position: bottom left;
			}
			li:nth-child(4)::before {
				background-position: bottom right;
				width: 57px;
			}
		}
	}
	.justlook {
		margin-top: 413px;
		width: 555px;
		.three-random-words {
			background-image: linear-gradient(-225deg, #00d7ee 0%, #009cef 100%);
			background-clip: text;
			color: transparent;
			font-family: "IBM Plex Sans - Medium Italic";
			font-size: 30px;
			font-weight: 400;
			margin-bottom: 210px;
		}
	}
	.youcantsee {
		width: 420px;
		margin-top: 210px;
	}
}

.s2 {
	padding-top: 55px;
	h3 {
		font-family: "Mont - Semi Bold";
		font-size: 26px;
		font-weight: 400;
	}
	p {
		color: #000000;
		font-family: "Mont - Book";
		font-size: 24px;
		font-weight: 400;
		line-height: 32px;
	}
	.gallery {
		width: 927px;
		height: 709px;
		margin: 28px auto 120px;
		position: relative;
		display: flex;
		align-items: center;

		.slides {
			height: 709px;
			overflow: hidden;
		}
		input {
			display: none;
		}
		.controls {
			position: absolute;
			transform: translate(-100%, -50%);
			left: -9px;
			top: 50%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;

			label {
				display: block;
				width: 30px;
				height: 30px;
				background: white;
				border-radius: 50%;
				position: relative;
				box-sizing: border-box;
				margin: 20px 9px;
				cursor: pointer;
			}
			label::before {
				display: block;
				border-radius: 50%;
				background-color: #00d7ee;
				background-image: linear-gradient(to top, #009cef 0%, #00d7ee 100%);
				padding: 3px;
				width: 100%;
				height:100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: -1;
				box-sizing: content-box;
				cursor: pointer;
			}
		}
		.slide {
			height: 100%;
			transition: 0.5s;
		}
		#btn-1:checked ~ .controls label[for="btn-1"],
		#btn-2:checked ~ .controls label[for="btn-2"],
		#btn-3:checked ~ .controls label[for="btn-3"] {
		    z-index: -1;
		}
		#btn-1:checked ~.slides .slide{
		    transform: translate(0, 0);
		}

		#btn-2:checked ~.slides .slide {
		    transform: translate(0, -100%);
		}

		#btn-3:checked ~.slides .slide {
		    transform: translate(0, -200%);
		}
	}

	.phones {
		display: flex;
		justify-content: space-between;
		width: 100%;
		flex-wrap: wrap;
		margin-bottom: 104px;
	}
	.questions {
		padding-top: 103px;
		width: 490px;
		position: relative;
		h2 {
			font-family: Mont;
			font-size: 50px;
			font-weight: 700;
		}
		p {
			font-family: "Mont - Book";
			font-size: 27px;
			font-weight: 400;
		}
		.pdfs {
			display: flex;
			justify-content: space-between;
			padding: 30px 84px 155px;

			.pdf {
				display: block;
				width: 126px;
				height: 126px;
				background-color: #009cef;
				border-radius: 50%;
				p {
					font-family: Mont;
					font-size: 24px;
					font-weight: 700;
					position: relative;
					margin-top: 100%;
					padding-top: 20px;
					text-align: center;
				}
			}
			.pdf:nth-child(1) {
				background: url(../imgs/pdf1.png) no-repeat center, linear-gradient(to top, #009cef 0%, #00d7ee 100%);
			}
			.pdf:nth-child(2) {
				background: url(../imgs/pdf2.png) no-repeat center, linear-gradient(to top, #009cef 0%, #00d7ee 100%);
			}
		}
	}
	.questions::before {
		width: 757px;
		height: 721px;
		right: -20px;
		top: 0;
		transform: translate(100%);
		background: url(../imgs/hmm.png) no-repeat;
	}

}

.s3 {
	padding-top: 87px;
	//height: 1011px;
	background: url(../imgs/bg-s3.png) no-repeat 50% 0;
	.fastesy {
		color: #48b2e3;
		font-family: "Mont - Semi Bold";
		font-size: 24px;
		font-weight: 400;
		text-align: center;
		+ h2 {
			text-align: center;
			margin-bottom: 116px;
		}
	}
	.gallery2 {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-bottom: 36px;
		.schedules {
			height: 228px;
			width: 1140px;
			overflow: hidden;
			.schedule {
				transition: 1s ease;
				display: flex;
			}
			.schedule.current2{
				transform: translate(-100%);
			}
			.schedule.current3{
				transform: translate(-200%);
			}
		}
		.controls {
			margin-right: 65px;
			margin-top: 53px;
			display: flex;
			div {
				width: 50px;
				height: 50px;
				border: 1px solid #5ec4fe;
				border-radius: 50%;
				margin-left: 25px;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
			}
			div::before {
				border: 15px solid #5ec4fe;
				border-bottom: 8px solid transparent;
				border-top: 8px solid transparent;
				border-left: none;
				transform: translate(-2px);
			}
			div:hover {
				box-shadow: 0 0 6px 1px #009cef;
			}
			div:active {
				box-shadow: 0 0 6px 1px #009cef, inset 0 0 2px 0px white;
			}
			div:nth-child(2)::before {
				transform: rotate(180deg) translate(-2px);
			}
		}
	}
	h3 {
		font-family: "Mont - Semi Bold";
		font-size: 30px;
		font-weight: 400;
		//text-align: center;
		margin-top: 37px;
		padding-bottom: 9px;
		border-bottom: 4px solid #009cef;
		align-self: center;
		margin-bottom: 38px;
	}
	.buttons {
		display: flex;
		justify-content: space-around;
		margin-bottom: 51px;
		button {
			width: 291px;
			height: 77px;
			background-color: rgba(22, 10, 87, 0.5);
			color: #ffffff;
			font-family: "Mont - Semi Bold";
			font-size: 30px;
			font-weight: 400;
		}
	}
}

.s4 {
	.container {
		align-items: center;
	}
	padding-bottom: 50px;
	table {
		margin-top: 42px;
		margin-bottom: 60px;
		width: 941px;
		height: 82px;
		th {
			text-align: left;
			padding-left: 64px;
			padding-right: 64px;
			font-family: "Mont - Semi Bold";
			font-size: 24px;
			font-weight: 400;
		}

		tbody {
			tr {
				box-shadow: 0 5px 13px rgba(40, 126, 255, 0.08);
				height: 82px;
				td {
					padding-left: 64px;
					width: 33%;
					font-family: Mont;
					font-size: 24px;
					font-weight: 300;
				}
			}
			tr:first-of-type {
				border-radius: 0 75px 0 0;
			}
			tr:last-of-type {
				border-radius: 0 0 0 75px;
			}
		}
	}

	.tokens {
		margin-top: 35px;
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: flex-end;
		.token {
			display: flex;
			ul {
				padding-top: 70px;
				li {
					font-family: Mont;
					font-size: 20px;
					font-weight: 400;
					padding: 0 0 28px 23px;
				}
				li:last-child {
					font-family: "Mont - Semi Bold";
					font-size: 24px;
					font-weight: 400;
					color: #48b2e3;
					text-transform: uppercase;
				}
			}
		}
	}
	.deps {
		display: flex;
		flex-direction: column;
		.deps1 {
			display: flex;
			color: #d8e9ff;
			font-family: "Mont - Heavy";
			font-size: 117px;
			font-weight: 400;
			justify-content: space-around;
			width: 100%;
			flex-wrap: wrap;
			.dep {
				position: relative;
				.dep2 {
					position: absolute;
					top: 45px;
					left: 75px;
					color: #000000;
					font-family: "Mont - Heavy";
					font-size: 51px;
					font-weight: 400;
					display: flex;
					align-items: flex-end;
				}
			}
			.dep1 {
				font-size: 102px;
			}
		}
	}
}

.last {
	justify-content: center;
	.back {
		margin-top: auto;
		margin-bottom: auto;
		width: 913px;
		height: 182px;
		box-shadow: 0 5px 13px rgba(40, 126, 255, 0.46);
		border-radius: 20px;
		background: white;
		display: flex;
		position: relative;
	}
	.buy {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 860px;
		height: 240px;
		padding: 55px;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: 0 5px 13px rgba(40, 126, 255, 0.46);
		border-radius: 20px;
		background: url(../imgs/form.png) no-repeat 50% 50%;
		p {
			margin-top: 9px;
		}
		form {
			margin-top: 30px;
			display: flex;
			[type="email"] {
				width: 350px;
				height: 47px;
				border-radius: 23px 0 0 23px;
				border: 1px solid #e8e8e8;
				padding-left: 30px;
				color: #a2a2a2;
			}
			[type="button"] {
				width: 264px;
				height: 47px;
				border-radius: 0 23px 23px 0;
				background-image: linear-gradient(11deg, #009cef 0%, #00d7ee 100%);
				font-family: "Mont - Semi Bold";
				font-size: 23px;
				font-weight: 400;
				color: white;
				cursor: pointer;
			}
			[type="button"]:hover {
				box-shadow: 0 0 3px 1px #00d7ee;
			}
			[type="button"]:active {
				box-shadow: inset 0 0 3px 1px white;
			}
		}
	}
	.popup {
		position: fixed !important;
		z-index: 10;
		top: 50%;
		transform: translate(0, -50%);
		display: none;
	}

}
